<div class="container text-center tabla-material2">
  <div class="row">
    <div class="col">
      {{item.codigo}}
    </div>
    <div class="col">
      {{item.nombre}}
    </div>
    <div class="col">
      {{item.descripcion}}
    </div>
    <div class="col">
      {{item.cantidad}}
    </div>
    <div class="col">
      <a href="/editar/{{item._id}}" class="btn btn-warning">Editar</a>
    </div>
    <div class="col">
      <a href="/eliminar/{{item._id}}" class="btn btn-danger">Eliminar</a>
    </div>
  </div>
</div>
     

